.page-wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 32px;
}

.page {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 24px;
    padding-bottom: 32px;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}